# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment
.venv/

# Ignore compiled binaries
*.o
*.out
*.exe

# Ignore vscode
.vscode
